<main>
<body>
    <br><br><br>
<div> 
{{#if error}}
<center><p> {{ error }}</p></center>
{{/if}} 
</div> 

<div>
    {{#if message}}
<center><p> {{ message }}</p></center>
{{/if}} 
</div>

<div><button class='ghost-round full-width'  ><a href = "/userhomepage">Homepage</a></button></div> </body>
</main> 