<body>
    
<button class="button7"><a href = "/organizerlogin" style="text-decoration:none">Organizer Login</a></button> 
<button class="button8"><a href = "/userlogin" style="text-decoration:none">User Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

</body>