<body>
    
<button class="button7"><a href = "/organizersignup" style="text-decoration:none">Organizer Sign Up</a></button> 
<button class="button8"><a href = "/usersignup" style="text-decoration:none">User Sign Up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

</body>