
<body class="create-page">


	<!-- Begin page content -->
	<main class="container">
		<div class="row big-font">
			<div class="col-md-10 col-lg-8">
				<header class="title mt-3 mb-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create New Event</header>
				<br><br><br>
				<form class="needs-validation ml-1" novalidate autocomplete="off" method="POST" action="/create-event" autocomplete="off">
				

				



					

                   <div class="form-group col-lg-5">
							<label for="ticketcapacity">Ticket Capacity:&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<input type="number" class="ghost-round2" name="ticketcapacity" id="ticketcapacity" min="1" placeholder="      Number of seats" required>
							<br>
						<br>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-lg-5">
							<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<input type="number" class="ghost-round2" name="price" id="price" min="0" placeholder="        Price">
							
							<small class="form-text text-muted">
								(leave empty if free.)
							</small> 
							<br>
						<br>
						</div>
						
                 
						

					<div><center><button type="submit" class='btn' value = "edit" ><a href = "/edit-event/{{event._id}}">Edit this Event</a></button></center></div>
				</form>
			</div>
		</div>
	</main>

{{#if error}}
<center><p> {{ error }}</p></center>
{{/if}}


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	
</body> 
